/* 
    Created on : 08-Jun-2020, 4:51:42 p
    Author     : alish
*/

legend{
    text-align:center;
    font-size:2em;
    
}
#results1{
    display:none;
    text-align: center;
}
#results2{
    display:none;
    text-align: center;
}

#finalscr{
    display:none;
    text-align: center;
}

#buttons{
    
}